# Created by .ignore support plugin (hsz.mobi)
Будет удалено .idea/autoAddVirtualHost.iml
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/php.xml
Будет удалено .idea/workspace.xml
/.idea/vcs.xml
Будет удалено simple/
